.liste{
    background: #ececec;
    width: 25%;
    border: 1px solid gray;
    padding: 8px
}

h2{
    text-align: center;
    text-transform: uppercase;
    color: rgb(87, 87, 87);
  }
.nopointlist{
    list-style: none;   
}


.li{
    text-indent: 50px;
    text-align: center;
    letter-spacing: 2px;

    

   
}


ul li {
    
    width: 90%;
    margin: 0px;
    
  }